<form #form="ngForm" (ngSubmit)="processForm(form)">
  <mat-form-field>
    <input matInput name="taskName" size="30" 
    placeholder="please enter your task" required #taskName ngModel>
  </mat-form-field>
  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="select due date" required ngModel>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
 
  Detail: <input type="text" name="" id="">
  <button type="submit" [disabled]="form.invalid">Add</button>

</form>