<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutGap="5px">
    <mat-icon>face</mat-icon>
    <span>My Address Book</span>
  </mat-toolbar-row>
</mat-toolbar>
<app-address-entry (newAddress)="processContact($event)"></app-address-entry>
<mat-tab-group (selectedTabChange)="loadAddress($event)">
    <mat-tab *ngFor="let l of tabs" [label]="l.label"> 
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let i of contactList">{{i.name}}</mat-list-item>
          </mat-list>
    </mat-tab>
</mat-tab-group>