<mat-toolbar color="accent" fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center">  
  <img src="/assets/icon_head.png" class="icon">
    <button mat-icon-button type="cancel" (click)="goBack()"
            color="white">
          <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>

<form #myForm="ngForm" (ngSubmit)="processForm()" fxLayout="column" fxLayoutAlign="space-between">
  <mat-form-field >
      <input matInput type="number" placeholder="Which character are you looking for" 
      name="searchTerm" required min='1' ngModel>
      <mat-hint>Enter Starwar character ID, see <a href="https://swapi.co" target="_blank">swapi.co</a></mat-hint>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
      <button mat-icon-button type="clear" color="accent">
        <mat-icon>clear</mat-icon>
      </button>
    <button mat-icon-button type="submit" [disabled]="myForm.invalid" 
            color="accent" (click)="openSnackBar('Adding new character', 'Sccuess!')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    
</form>